
@import "reset.scss";
@import "vars.scss";
@import "mixin.scss";
body {
	font-family: 'Montserrat', sans-serif;
 }
 
 .flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
 }
 
 .flex-wrapper--center {
	justify-content: center;
 }

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;
}
.about {
	text-align: center;
	padding-bottom: 35px;
	&__tittle {
	  color: $btn-bg;
	  font-size: 26px;
	  font-weight: 700;
	  margin: 80px 0 24px;
	  line-height: 50px;
	  text-transform: uppercase;
	}
 
	&__description {
	  font-family: "Lato";
	  color: $black-color;
	  font-size: 14px;
	  text-align: center;
	  @include width80;
	  margin-bottom: 35px;
	}
	&__github-link {
	  font-size: 12px;
	  font-weight: 700;
	  color: $black-color;
	  padding: 6px 10px;
	  border: 1px solid #d6d6d6;
	  background: #f3f3f3;
	  border-right: 0;
	  border-radius: 2px;
	}
	&__github-link_text {
	  margin-left: 6px;
	}
 
	&__github-link_count {
	  font-size: 12px;
	  font-weight: 700;
	  padding: 8px 10px;
	  border: 1px solid #d6d6d6;
	  border-radius: 2px;
	  margin-right: 15px;
	  color: $black-color;
 
	}
	&__github-links-container {
	  margin-bottom: 20px;
	}
 
 }
 @media screen and (min-width:481px)  {
 
	.about__description {
	  font-size: 21px;
    }
    .about__tittle {
        font-size: 42px;
      }
 
 }
 
 @media screen and (min-width: 993px) {
	.about__tittle {
	  font-size: 54px;
	}
	.about__description {
	  font-size: 16px;
	}
 }
