@import "./mixin.scss";
@media (min-width: 320px) and (max-width: 480px) {
  .navigation {
    &__icon {
      width: 44px;
      height: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2%;
    }
    &__item {
      padding: 20px 56px 15px 30px;
      background-color: #333333;
      border-bottom: solid #3b3b3b 1px;
    }
    &__list {
      position: absolute;
      left: 4.5%;
    }
    &__link {
      text-decoration: none;
      @include fontSizeSmall();
      color: #ffffff;
      font-size: 26px;
      line-height: 26px;
    }
    &__link:hover {
      color: #8d81ac;
    }
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .navigation {
    &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #27262a;
      padding-bottom: 2%;
    }

    &__link {
      text-decoration: none;
      @include fontSizeLarge();
      color: #8d81ac;
      font-size: 16px;
      line-height: 16px;
    }
    &__link:hover {
      color: #8d81ac;
    }
  }
}

@media (min-width: 993px) {
  .navigation {
    &__listLarge {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      margin-left: 8%;
    }

    &__linkLarge {
      text-decoration: none;
      @include fontSizeLarge();
      color: #8d81ac;
      font-size: 16px;
      line-height: 16px;
    }
    &__linkLarge:hover {
      color: #FFFFFF;
    }
  }
}
