@import "./mixin.scss";
// @import "./burger-menu.scss";
a {
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    background-image: url("../img/header-img.png");
    height: 150vh;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    &__btn {
      background-color: #8d81ac;
      @include btn();
      @include fontSizeLarge();
      width: 90%;
      height: 8%;
      font-size: 18px;
      line-height: 20px;
      left: 5%;
    }
    &__h1 {
      @include fontSizeLarge();
      font-size: 42px;
      line-height: 42px;
      color: #ffffff;
      margin-top: 10%;
    }
    &__info {
      @include fontSizeSmall();
      font-size: 16px;
      line-height: 20px;
      color: #8d81ac;
      text-align: center;
      width: 90%;
      margin-top: 7%;
    }

    &__version {
      @include fontSizeSmall();
      font-size: 12px;
      line-height: 12px;
      color: #848e97;
      margin-top: 5%;
    }
    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27262a;
    height: 10%;

    &__logoLink {
      background-image: url("../img/Logo.png");
      width: 53px;
      height: 51px;
      display: flex;
      margin-left: 45%;
      margin-top: 20%;
      background-repeat: no-repeat;
    }

    &__icon {
      width: 54px;
      height: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2%;
    }
    &__btn {
      @include btn();
      background-color: #8d81ac;
      position: absolute;
      width: 40%;
      height: 5%;
      margin-left: 31%;
      @include fontSizeLarge();
      font-size: 15px;
      line-height: 15px;
    }
  }
  .material-symbols-outlined {
    color: white;
  }
  .invisible {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .header {
    background-image: url("../img/header-img-tablet.png");
    height: 105vh;

    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__h1 {
      @include fontSizeLarge();
      font-size: 72px;
      line-height: 72px;
      color: #ffffff;
      margin-top: 6%;
    }
    &__info {
      @include fontSizeSmall();
      font-size: 24px;
      line-height: 24px;
      color: #8d81ac;
      margin-top: 3%;
    }

    &__version {
      @include fontSizeSmall();
      font-size: 14px;
      line-height: 14px;
      color: #848e97;
      margin-top: 2%;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27262a;
    height: 10%;

    &__logoDiv{
        display: flex;
    }
    &__logoLink {
      margin-left: 5%;
      background-image: url("../img/Logo.png");
      width: 53px;
      height: 51px;
      display: flex;
      background-repeat: no-repeat;
    }

    &__name {
      font-family: "Lato";
      font-weight: 700;
      color: #8d81ac;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      display: block !important;
      margin-top: 15%;
      margin-left: 22%;
    }

    &__icon {
      display: none !important;
    }
    &__btn {
      @include btn();
      background-color: #8d81ac;
      width: 21%;
      height: 37%;
      margin-right: 2%;
      @include fontSizeLarge();
      font-size: 15px;
      line-height: 15px;
    }
  }
  .invisible {
    display: none;
  }
}

@media (min-width: 993px) {
  .header {
    background-image: url("../img/header-img-computer.png");
    height: 110vh;
    background-position-x: center;
    background-repeat: no-repeat;

    &__name {
      color: #8d81ac;
    }

    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__h1 {
      @include fontSizeLarge();
      font-size: 72px;
      line-height: 72px;
      color: #ffffff;
      margin-top: 5%;
    }
    &__info {
      @include fontSizeSmall();
      font-size: 24px;
      line-height: 24px;
      color: #8d81ac;
      margin-top: 3%;
    }

    &__version {
      @include fontSizeSmall();
      font-size: 14px;
      line-height: 14px;
      color: #848e97;
      margin-top: 2%;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;

    &__logoDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;
    }
    &__logoLink {
      margin-left: 15%;
      background-image: url("../img/Logo.png");
      width: 43px;
      height: 41px;
    }
    &__logoLink:hover {
      background-image: url("../img/logo-hover.png");
    }

    &__name {
      font-family: "Lato";
      font-weight: 700;
      color: #8d81ac;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
    }
    &__name:hover {
      color: #ffffff;
    }
    &__icon {
      display: none !important;
    }
    &__btn {
      @include btn();
      background-color: #8d81ac;
      width: 17%;
      height: 37%;
      margin-right: 2%;
      @include fontSizeLarge();
      font-size: 15px;
      line-height: 15px;
    }
    &__btn:hover {
      background-color: #ffffff;
      color: #8d81ac;
    }
  }
  .invisible {
    display: none;
  }
}
