@mixin fontSizeSmall {
  font-family: "Montserrat";
  font-weight: 400;
}
@mixin fontSizeLarge {
  font-family: "Montserrat";
  font-weight: 700;
}
@mixin btn {
  color: #ffffff;
  border: none;
  border-radius: 20px;
}
@mixin width80 {
  width: 80%;
  margin: 0 auto;
}

